#footer {
    .ft-main-block {
        .footer-menu {
            line-height: 23px;

            li.ft_menu_item {
                line-height: 23px;

                a {
                    padding: 22px;
                }
            }
        }
    }

    .company-name {
        line-height: 32px;
    }

    .company-info {
        line-height: 22px;
    }

    .list-social {
        padding: 10px;
        //*
        padding-right: 120px;

        li.list-icon-item {
            img.icon-social {
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
            }
        }
    }

    .copyright-footer {
        line-height: 25px;
    }
}