#header {
    background-image: url(../images/bg-img.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 568px;

    .heading-main-box {
        .title-heading {
            line-height: 48px;
            margin-top: 224px;
            margin-bottom: 280px;
        }

    }
}
.child-products-AI-box{
    margin-top: 70px;
}
#category-child-products {
    padding-bottom: 138px;
    .category-child-products-title {
        padding-top: 41px;
        line-height: 42px;
        margin-bottom: 24px;
    }

    .category-child-products-list {
        .category-child-products-items {
            .card {
                width: 573px;
                height: 149px;
                border-radius: 8px;
                height: 100%;
            }

            .img-left {
                width: 100%;
                border-radius: 8px;
                max-height: 149px;
                width: 274px;

            }
        }
    }
}
